#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow:inset 0 0 50px 15px rgba(0,0,0,0.9);
}

html, body {
  height: 100%;
  background-color: rgba(231, 242, 244, 0.7);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: black;
  border: none;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: transform 0.2s ease-in-out;
}

*.on {
  display: initial;
  animation: appear 0.2s 1 ease-in-out;
}

*.on.off {
  display: none!important;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  5% {
    transform: translate(-50%, -50%) scale(1, 0);
  }
  95% {
    transform: translate(-50%, -50%) scale(1, 1.06);
  }
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
}

@keyframes selected {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#option-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

button:focus {
  outline: none;
}

button {
  padding: 1em 2.5em;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(249, 249, 249);
  background-color: rgb(210, 102, 98);
  cursor: pointer;
}

button.selected {
  background-color: rgb(235, 235, 235);
  color: rgb(210, 102, 98);
  box-shadow:inset 3px 3px 2px 1px rgba(0,0,0,0.2);
}

button:not(.selected):hover {
  background-color: rgb(217, 105, 102);
}

main {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#a-previews {
  width: 50%;
  margin-left: 50%;
  display: flex;
 }

 #a-previews>div, #m-status>div {
  margin-left: 0.3em;
  cursor: pointer;
}

#a-previews>div.selected {
  outline: 1px solid black;
}

nav {
  display: none;
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 50%;
  background-color: rgb(251, 251, 251);
  box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.6);
  padding: 2em 1.5em;
  transform: translate(-50%, -50%);
}

nav ul li {
  margin-top: 0.3em;
}

#home-menu, #m-setup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background-color: rgb(251, 251, 251);
  width: auto;
  max-width: 25em;
  min-height: 10em;
  box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.6);
}

#home-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  z-index: 999;
}

h1, h2 {
  width: 90%;
  text-align: center;
}

#m-setup, #m-status, section, .gs_running .ds_lost section, #a-panels section {
  display: none;
  width: 100%;
  height: 100%;
}

#home-menu section {
  min-width: 20em;
  min-height: 15em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#home-menu section > * {
  width: 80%;
}

#home-menu section input {
  margin-bottom: 0.5em;
  text-align: right;
}

#home-menu button {
  margin: 1em;
  width: 60%;
}

main > * {
  width: 48%;
}

#a-panels, #m-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.gs_setup #m-setup, .gs_running section, .gs_finished #m-status, .ds_lost #m-status, #a-panels section.selected   {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  animation: selected 0.2s 1 ease-in-out;
  display: flex;
}

#m-setup.ds_ready button {
  background-color: rgb(133, 203, 46);
}

#m-setup, section, #m-status {
  flex-direction: column;
  align-items: center;
}

#a-panels section {
  flex-direction: row;
  align-items: baseline;
} 

#m-panel section {
  flex-direction: row-reverse;
  align-items: baseline;
}


h1 {
  font-size: 18px;
  margin: 0.5em;
}

section .status-container {
  width: 15%;
}

section .status-container > * {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

section .area {
  position: relative;
  overflow: hidden;
  width: fit-content;
}

.life-count {
  width: 3em;
  height: 3em;
  line-height: 2.7em;
  font-size: 1.8em;
  color: red;
  font-weight: bold;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
  border: 3px solid red;
  border-radius: 5em;
  align-items: center;
  justify-content: center;
}

.money-count {
  font-size: 1.8em;
  color: rgb(255, 222, 0);
  font-weight: bold;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

#a-previews>div, #m-status>div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 9;
}

#a-previews>div .life-count, #a-previews>div .money-count, #m-status .life-count, #m-status .money-count {
  width: 20%;
  font-size: 1.8em;
  line-height: initial;
  height: auto;
  background-color: transparent;
  border: none;
  border-radius: none;
}

#a-previews .status {
  width: 20px;
  height: 20px;
  background-color: rgb(133, 203, 46);
  border-radius: 50%;
}

#a-previews .ds_setup .status, #a-previews .ds_lost .status  {
  background-color: rgb(210, 102, 98);
}

.row {
  line-height: 0px;
  text-align: center;
}

.square {
  position: relative;
  display: inline-block;
  border-right: 1px solid #C3BFBF;
  border-bottom: 1px solid #C3BFBF;
  cursor: pointer;
  background-color: #e0e0e0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.square .boum {
  animation: boum 2.5s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-play-state: paused;
  background-image: url('boum.gif');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  position: absolute;
  width: 100%;
  top: -20%;
  transform: scale3d(0.01, 0.01, 0.01);
  transform-origin: center bottom;
}

@keyframes boum {
  0% {
    transform: scale3d(1, 0.01, 0.01);
  }
  7% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
  90% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1, 0.01, 0.01);
  }
}

.square.boum .boum {
  animation-play-state: running;
}

.square.bg1 {
  background-image: url('rock1.gif');
}

.square.bg2 {
  background-image: url('rock2.gif');
}

.square.bg3 {
  background-image: url('rock3.gif');
}

.square.player {
  background-image: url('player.gif');
}

.square.wall {
  background-image: url('wall.gif');
}

.square::before, .square::after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dynamite::before {
  background-image: url('dynamite.gif');
}

#m-panel .dynamite::before {
  display: none;
}

.rhum::after {
  background-image: url('rhum.gif');
}

.money::after {
  background-image: url('money.gif');
}

/* .icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.3em;
  vertical-align: bottom;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.icon.money {
  background-image: url('money.gif');
}

.icon.money:after {
  content: none;
} */

.light {
  pointer-events: none;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%); 
  width: 40em;
  height: 40em;
  border-radius: 40em;
  opacity: 0.4;
  background: -moz-radial-gradient(center, ellipse cover, rgba(252,210,70,1) 0%, rgba(237,213,80,0.52) 48%, rgba(239,224,129,0) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(252,210,70,1) 0%,rgba(237,213,80,0.52) 48%,rgba(239,224,129,0) 100%);
  background: radial-gradient(ellipse at center, rgba(252,210,70,1) 0%,rgba(237,213,80,0.52) 48%,rgba(239,224,129,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd246', endColorstr='#00efe081',GradientType=1 );
  animation: pulse 30s;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  z-index: 10;
}

.light:nth-child(2) {
  top: 50%;
  left: 100%;
  width: 25em;
  height: 25em;
  animation-delay: 5s;
}

.light:nth-child(3) {
  top: 100%;
  left: 20%;
  animation-delay: 10s;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
    transform: translate(-50%, -50%) scale(1, 1);
  }
  25% {
    opacity: 0.25;
    transform: translate(-50%, -50%) scale(0.75, 0.75);
  }
  50% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.2, 1.2);
  }
  75% {
    opacity: 0.4;
    transform: translate(-50%, -50%) scale(0.85, 0.85);
  }
  100% {
    opacity: 0.25;
    transform: translate(-50%, -50%) scale(1, 1);
  }
}

